*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaFXProject1/nbproject/private/
/JavaFXProject1/build.xml
/JavaFXProject1/manifest.mf
/JavaFXProject1/nbproject/
/JavaFXProject1/vpproject/